

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


@mixin headlineTemplate(
    $is-fontface: false,
    $font-weight: normal,
    $font-style: normal
) {

    @if $is-fontface {
        @include typeReset();
    } @else {
        font-weight: $font-weight;
        font-style: $font-style;
    }

    color: palette(charcoal);
    line-height: 1.2;
    margin-bottom: space(0.7);
    text-align: left;

	// if the headline is a link
	// https://css-tricks.com/the-sass-ampersand/
	// &#{a} {
	//     @include on-event() {
	//         opacity: 0.4;
	//         transition: opacity 500ms ease;
	//     }
	// }

	@include respond-to(xs) {
		margin-bottom: space(0.85);
	}
}

@mixin headlineRg() {
	@include headlineTemplate($font-weight: 500);
	font-family: $font-sans-medium;
	font-size: fontsize(headerRg, xs);
    letter-spacing: 0.006em;

	@include respond-to(xs) {
		font-size: fontsize(headerRg, base);
	}
}

@mixin headlineSm() {
	@include headlineTemplate($is-fontface: true);
	font-family: $font-sans-regular;
	font-size: fontsize(headerSm, xs);
    letter-spacing: 0.01em;
	line-height: 1.3;

	@include respond-to(xs) {
		font-size: fontsize(headerSm, base);
	}
}

@mixin headlineSecondary {
	@include TextMd();
	font-family: $font-sans-bold;
}

@mixin headlineTertiary {
	@include TextSm();
	font-family: $font-sans-bold;
}


// Vax Initiate.
// Hierarchy: primary, secondary, tertiary, quaternary, quinary, senary,
// septenary, octonary, nonary, denary… and super.
// --------------------------------------------------------------------------

.Headline            { @include headlineRg(); }
.Headline--sm        { @include headlineSm(); }
.Headline--secondary { @include headlineSecondary(); }
.Headline--tertiary  { @include headlineTertiary(); }
