{% if property.features[0].bedrooms[0] != "0" %}
    <span class="Property-bedroooms">{{ property.features[0].bedrooms }}</span>
    <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
    </svg>
{% endif %}
{% if property.features[0].bathrooms[0] != "0" %}
    <span class="Property-bathrooms">{{ property.features[0].bathrooms }}</span>
    <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
    </svg>
{% endif %}
{% if property.features[0].garages[0] != "0" %}
    <span class="Property-carspaces">{{ property.features[0].garages }}</span>
    <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
    </svg>
{% endif %}
