<div class="Grid-cell u-flex u-size1of2 u-sm-size1of3">
	<a class="Property Card" href="/for-sale/{{ property.uniqueID }}.html">
		<div class="Property-image" style="background-image: url({{ property.images[0].img[0]['$'].url }})"></div>

		<div class="Property-details">
			<h1 class="Property-details--title Arrow-right u-marginB0">{{ property.address[0].suburb[0]._ }}</h1>

            {% if property.address[0]['$'].display == "yes" %}
                <p class="Property-details--location">{{ property.address[0].streetNumber }} {{ property.address[0].street }}</p>
            {% endif %}
            {% if property.price[0]['$'].display == "yes" %}
                <p class="Property-details--price">{{ property.priceView[0] }}</p>
            {% endif %}


			<p class="Property-config u-marginTD6">
                {% if property.features[0].bedrooms[0] != "0" %}
                    <span class="Property-bedroooms">{{ property.features[0].bedrooms }}</span>
                    <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                    </svg>
                {% endif %}
                {% if property.features[0].bathrooms[0] != "0" %}
                    <span class="Property-bathrooms">{{ property.features[0].bathrooms }}</span>
                    <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
                    </svg>
                {% endif %}
                {% if property.features[0].garages[0] != "0" %}
                    <span class="Property-carspaces">{{ property.features[0].garages }}</span>
                    <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                    </svg>
                {% endif %}
			</p>

		</div>
	</a>
</div>
