---
title: For sale
layout: default
---

<section class="Section u-marginT0">
	<div class="Container">
		<div class="DivRule--medium"></div>
		<div id="listings">
            <div class="Grid u-marginB15 u-xs-marginB25">
				<div class="Grid-cell u-xs-size5of12">
                	{% assign currentSalesSize = 0 %}
					{% for current in site.data.current %}
						{% if forloop.last %}
							<p class="u-textBold">Showing {{ currentSalesSize | plus: forloop.length }} total listings</p>
						{% endif %}
					{% endfor %}
                </div>
				<div class="Grid-cell u-xs-size7of12 u-textRight">
                    <p>
                        <span class="u-colorMedium">Sort by: &nbsp;</span>
                        <button class="sort Sort-tag" data-sort="price">Price</button>
                        <button class="sort Sort-tag" data-sort="location">Location</button>
                        <button class="sort Sort-tag" data-sort="modtime">Most recent</button>
                    </p>
                </div>
            </div>
            <div class="Grid Grid--withGutter list">
                {% assign list = site.data.current | reverse %}
                {% for property in list %}
                    {% include property-in-list.html %}
                {% endfor %}
            </div>
		</div>
	</div>
</section>

{% include property-sort.html %}
