---
title: For sale
layout: default
---

{% comment %}
	This include requires assigning a variable for {{ profile }}
	e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}

    {% include property-img.html %}
    page.images[0].img[0]['$'].url
    {% assign propertyImages = page.images[0].img | group_by: ['$'].url %}
{% endcomment %}

{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

<article class="Property">
	<section class="Hero u-marginB25">
        <div class="gallery">
            {% assign propertyImages = page.images[0].img %}
            {% for image in propertyImages %}
                <!-- <h1>{{ image['$'].url }}</h1> -->
                {% include property-img.html %}
            {% endfor %}
        </div>
	</section>

	<section class="">
		<div class="Container">
			<div class="Grid Grid--withGutter">
				<div class="Grid-cell u-size4of12 u-sm-paddingR2 u-alignBlockDown u-sm-display">
					{% include property-map.html %}
					<div class="DivRule--light u-marginT"></div>
					<h3 class="Headline--tertiary">Share this property</h3>
					{% include share.html %}
				</div>

				<div class="Grid-cell u-xs-size9of12 u-sm-size8of12">
                    <h1 class="Property-title">{{ page.headline }}</h1>
                    <p class="Property-price">
                        {% if page.price[0].value.display == "yes" %}{{ page.priceView }}{% endif %}
                    </p>
					<div class="DivRule u-marginT15"></div>
					<p class="Property-address">
                        {{ page.address[0].streetNumber }} {{ page.address[0].street }}, {{ page.address[0].suburb[0]._ }} {{ page.address[0].postcode }}

						<span class="Property-config u-marginLD3">
                            {% if page.features[0].bedrooms %}
    							<span class="Property-bedroooms">{{ page.features[0].bedrooms }}</span>
    							<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
    								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
    							</svg>
                            {% endif %}
                            {% if page.features[0].bathrooms %}
                                <span class="Property-bathrooms">{{ page.features[0].bathrooms }}</span>
    							<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
    								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
    							</svg>
                            {% endif %}
                            {% if page.features[0].carports > "0" %}
    							<span class="Property-carspaces">{{ page.features[0].carports }}</span>
    							<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
    								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
    							</svg>
                            {% endif %}
                            {% if page.features[0].garages > "0" %}
    							<span class="Property-carspaces">{{ page.features[0].garages }}</span>
    							<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
    								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
    							</svg>
                            {% endif %}
						</span>
					</p>

					<p class="Property-area">
                        Land area:
                        {% if page.landDetails[0].area[0]['$'].unit == "acre" %}{{ page.landDetails[0].area[0]._ }} acres {% endif %}
                        {% if page.landDetails[0].area[0]['$'].unit == "squareMeter" %}{{ page.landDetails[0].area[0]._ }}m²{% endif %}
                    </p>

                    <p class="Property-id">Property ID: {{ page.uniqueID[0] }}</p>
					<div class="DivRule--light u-marginT15"></div>

					<div class="Grid Grid--withGutter u-marginTD6">
						<div class="Grid-cell u-sm-size9of12">
							<p>{{ page.description }}</p>

							<div class="u-sm-hide u-marginT2 u-mxs-marginB2">
								{% include property-map.html %}
							</div>
							<div class="u-sm-hide">
								<div class="DivRule--light u-marginT"></div>
								<h3 class="Headline--tertiary">Share this property</h3>
								{% include share.html %}
							</div>
							<div class="u-marginT u-sm-marginT2 u-mxs-marginB2">
								{% include profile-card.html %}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</article>
